{% extends "base/base.html" %}
{% load static %}

{% block headerFiles %}
<script src="{% static 'venues/js/elm.js' %}"></script>
<script src="{% static 'drained/js/names.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class ="row">
        <div class="col-sm-6">
                       <h5><p>
                           . . . .
                {% for i in count %}
            {% for venue in objs %}
                           <!-- <a href="{{venue.website}}">{{venue.name}}</a> -->
                <a class={{venue.class}} href="/venue/{{venue.id}}">{{venue.name}}</a>
                <b>&middot;</b>
            {% endfor %}
                {% endfor %}
            </p></h5>

        </div>
        <div class="col-sm-6">.col-sm-6

            <p align="center">
                {% for class in classes %}
                <button id={{class}}> {{class}} </button>
                <b>&middot;</b>
                {% endfor %}
            </p>
            <div id="elm"> ELM </div>
            <a id="test"> TEST </a>
            <div id="data" classes='{{classes}}'> data </div>
        </div>
    </div>

</div>


<script type="text/javascript">
 var elmDiv = document.getElementById('elm');
 const app = Elm.Lineup.init({ node: elmDiv });
</script>

{% endblock %}

