<table>
    {% if venue.website %}
    <tr>
        <td>
            website
        </td>
        <td>
            <a href = "{{venue.website}}" target="_blank">{{venue.website}}</a>
        </td>
    </tr>
    {% endif %}

    <tr>
        <td style="width:5.5rem;">
            access
        </td>
        <td>
            {{venue.access}}
        </td>
    </tr>

</table>
