{% load static %}
{% if venue.photo %}
        <table cellpadding ="0" style="width:100%;" >
            <tr>
                <th rowspan="2" width="88px" style="padding-right:0.5rem;">
                    <a style="text-decoration:none" href="#" id="pop" data-toggle="popover">
                        <img id="pic" src="{%get_media_prefix%}{{venue.photo}}" height="50rem" width="auto">
                    </a>
                </th>
                <th>
                    <div style="font-size:1.5rem; font-weight:200;"> {{venue.name}} </div>
                </th>
            </tr>
            <tr>
                <td style="font-size:1rem; text-align:left;"> {{venue.address}} </td>
            </tr>
        </table>
{% else %}
    <h5> {{venue.name}} {{venue.width}} </h5>
    <div style="line-height:1.5rem;"> {{venue.address}} </div>
 <!-- <br> -->
{% endif %}
