{% extends "base/base.html" %}
{% load static %}

{% block headerFiles %}
    <script src="{% static 'drained/js/popover.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class ="row">
        <div class="col-sm-3"> </div>
        <div class="col-sm-5">

                <!-- CONTENT -->
            {% include "venues/title.html" %}
            <hr>
            <p>
                {{venue.about|safe}}
            </p>

            <!-- <hr> -->
            {% include "venues/info.html" %}
            <hr>

            <th rowspan="2" width="5.5rem";">
            <table>
            {% for gig in gigs %}
                <tr>
                    <td style="width:5.5rem;">
                        {{gig.date.month}}&middot;{{gig.date.day}}
                    </td>
                    <td>
                        <a href ="/gig/{{gig.id}}"> {{gig.name}}</a><br>
                    </td>
                </tr>
            {% endfor %}
            </table>

                <!-- CONTENT -->

        </div>
        <div class="col-sm-4"> </div>
    </div>
</div>
{% endblock %}
