{% extends "base/base.html" %}
{% load static %}

{% block headerFiles %}
<script src="{% static 'drained/js/names.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class ="row">
        <div class="col-sm-3"> </div>
        <div class="col-sm-5">

            <!-- CONTENT -->
            <h3 style="padding-top:0.5rem; padding-bottom:1rem;"> {{title|safe}} </h3>

            <p style="padding-bottom:0.5rem;" align="left">
                {% for class in classes %}
                <button class="btn-primary" id={{class}}> {{class}} </button>
                <b>&middot;</b>
                {% endfor %}
                <button class="btn-primary" id="all">&middot;</button>
            </p>
            <div id="data" classes='{{classes}}' style="display:none"> data
            </div>

            <h5><p style="line-height:1.75;">
                <b> &middot; </b>
                {% for venue in objs %}
                    <a class={{venue.class}} href="/venue/{{venue.id}}"> <n style="font-weight:normal;">{{venue.name}}</n></a>
                        <b> &middot; </b>
                {% endfor %}
            </p></h5>

            <!-- CONTENT -->

        </div>
        <div class="col-sm-4"> </div>
    </div>
</div>
{% endblock %}

