<table>
    <tr>
        <td style="width:5rem;">
            <!-- <td style="padding-right:1rem;"> -->
            link
        </td>
        <td>
            <a  href = "{{band.website}}" target="_blank">{{band.website}}</a>
        </td>
    </tr>

    {% if band.email %}
    <tr>
        <td style="padding-right:1rem;">
            email
        </td>
        <td>
            <a href = "mailto:{{band.email}}" target="_blank">{{band.email}}</a>
            <!-- {{band.email}} -->
        </td>
    </tr>
    {% endif %}

    <tr>
        <td style="padding-right:1rem;">
            tags
        </td>
        <td>
                {% for tag in band.tags.all %}
                    <a href ="/bands/tag/{{tag}}"> {{tag}}</a>
                    {% if tag != band.tags.last %}
                        <b>&middot;</b>
                    {% endif %}
                {% endfor %}
        </td>
    </tr>

</table>
