{% load static %}
{% if band.photo %}
        <table cellpadding ="0" style="width:100%;" >
            <tr>
                <!-- <th rowspan="2" width="80px" style="padding-right:1rem;"> -->
                <th rowspan="2" width="1rem" style="padding-right:1rem;">
                    <a style="text-decoration:none" href="#" id="pop" data-toggle="popover">
                        <img id="pic" src="{%get_media_prefix%}{{band.photo}}" height="50rem">
                    </a>
                </th>
                <th>
                    <div style="font-size:1.5rem; font-weight:200;"> {{band.name}} </div>
                    <!-- {{band.name}} -->
                </th>
            </tr>
            <tr>
                <td style="font-size:1rem;"> {{band.city}} </td>
            </tr>
        </table>
{% else %}
        <!-- <div style="font-size:1.5rem; font-weight:200;"> {{band.name}} </div> -->
        <div style="font-size:2rem; font-weight:200;"> <b>{{band.name}}</b> </div>
    <div style="font-size:1rem; line-height:1rem;"> {{band.city}} </div>
 <!-- <br> -->
{% endif %}
