.hidden{
    opacity: 0.5;
    background-color: #eeeeee;
}

.venue {
    font-size: 1.25rem;
    background-color: #dddddd;
}

.lineup {
    font-size: 1.5rem;
    text-align: left;
    background-color: #bbffff;
    margin-top: 0.25rem;
}

.date {
    width: 50%;
    /* margin-top: 1rem; */
}

.date-day {
    font-size: 2rem;
    text-align: right !important;
    padding-right: 0.5rem;
}

.date-month {
    font-size: 1.25rem;
    /* width: 30px; */
    padding-bottom: 0.25rem;
    background-color: #ffbbff;

}

.date-year {
    font-size: 1.25rem;
    padding-top: 0.25rem;
    background-color: #ffffbb;
}

.date-time {
    font-size: 1.25rem;
    text-align: right;
    padding-top: 0.4rem;
    padding-right: 0.6rem;
    background-color: #bbffff;
}

.date-ampm {
    font-size: 1.25rem;
    padding-top: 0.4rem;
    text-align: left;
    background-color: #ffbbff;
}

.paginator {
    font-size: 1.25rem;
    text-align: center;
    background-color: #dddddd;
}
