{% extends 'admin/change_form.html' %}
{% load static %}

<!-- <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}"> -->
<link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.css" %}">

{% block admin_change_form_document_ready %}
<script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
<script type="text/javascript" src="{% static 'gigs/js/AdminTimePicker.js' %}"></script>
<script type="text/javascript" src="{% static 'sortedm2m_filter_horizontal_widget/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sortedm2m_filter_horizontal_widget/OrderedSelectBox.js' %}"></script>
<script type="text/javascript" src="{% static 'sortedm2m_filter_horizontal_widget/OrderedSelectFilter.js' %}"></script>
<p id="TEST"> When editing a Table, click <b>Save and continue editing</b> to update Querysets </p>
{{ block.super }}
{% endblock %}
