
@font-face {font-family: Dejavu Sans Mono; src: url('DejaVuSansMono.ttf'); }
@font-face {font-family: Dejavu Sans; src: url('DejaVuSans.ttf'); }

:root {
    /* --black: #16181b; */
    --black: #ff00ff;
}

body {
    font-family: Dejavu Sans, Liberation Sans;
}



a {
    /* color: black !important; */
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
}

n:hover {
    color: white !important;
    background-color: black; !important;
    /* font-weight: normal !important; */
    /* text-decoration: none !important;
      this was not enough, had to use name.js!! */
}
