:focus {outline:none;}
::-moz-focus-inner {border:0;}

.navbar-brand {
    margin: 0;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.toggler-bar{
    width: 2px;
    height: 23px;
    display: inline-block;
    background-color: white;
    transform: translate(0px, 4px) rotate(135deg);
}

.toggler-left {
    margin-right: 14px;
}

.toggler-right{
    margin-left: 14px;
}

.toggler-bar,
.toggler-left,
.toggler-right {
    transition: all 0.3s;
}

.collapsed .toggler-bar {
    height: 22px;
    margin-left: 4px;
    margin-right: 4px;
    transform: translate(0px, 3px) rotate(0);
}
.collapsed .toggler-left,
.collapsed .toggler-right {
    margin: 0;
}

/* @media (max-width: 576px) { */
/*     .navbar-brand{ */
/*         font-size:24px; */
/*         margin-bottom: 8px; */
/*     } */
/*     .navbar-menu{ */
/*         height:38px; */
/*     } */
/*     .navbar-toggler{ */
/*         height:38px; */
/*     } */
/*     .nav-link{ */
/*         font-size: 24px; */
/*     } */
/* } */
