{% extends "base/base-bootstrap.html" %}
{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static 'drained/css/drained.css' %}">

    {% block headerFiles %}
    {% endblock %}

{% endblock %}

{% block body %}

    {% include "header/header.html" %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
