{% extends "base/base-bootstrap.html" %}
{% load static %}
{% block head %}
<script src="{% static "js/login.js" %}"></script>

{% endblock %}
{% block body %}
<div class="container d-flex justify-content-center">

  <div class="col-lg-5">

    <div class="card">

      <div class="card-header d-flex bg-black justify-content-center">
          <h1 style="color:white; padding-top:0.5rem;"> D R A | N E D </h1>
      </div>

      <div class="card-body ">
          <!-- {% block login-title%} -->
          <h2 class="card-title">admin login</h2>
          <!-- {% endblock %} -->

        {% block login-info %}
        {% endblock %}

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button class="btn-primary" type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                    </div>


        {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                You are authenticated as {{ user.username }}, but are not authorized to
                access this page. Would you like to login to a different account?
            <button class="btn-primary" type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>

        {% endif %}

        <div id="error">
        </div>
        <form method="post">
          {% csrf_token %}

          <!--{{ form.as_p }}-->

        {% comment %}
        ////////////////////////////////////////////////////////////////////////
        a script in static/js/login.js will add the class form-control to the
        input node created by {{ form.username }} and {{ form.password}}. This
        let us use the built in form formating in bootstrap
        ////////////////////////////////////////////////////////////////////////
        {% endcomment %}

          <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
          </div>

          <div class="form-group">
            <label for="{{ form.password.id_for_label}}">Password</label>
            {{ form.password}}
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>

    </div>
  </div>


</div>


{% endblock %}
