
{% extends "base/popup-base.html" %}

{% block id %}
    {{ id|default:"popup" }}
{% endblock %}
{% block title %} {{ title }} {% endblock %}

{% block body %}
    {{ body }}
{% endblock %}

{% block footer %}

<button type="button" class="btn {{ colorCancel|default:"btn-secondary" }}" data-dismiss="modal"> {{ textCancel|default:"Cancel" }}</button>
<button type="button" class="btn {{ colorOk|default:"btn-primary" }} choice-ok"> {{ textOk|default:"Ok" }}</button>

{% endblock %}
