<div class="modal fade" id={% block id %} "popup" {% endblock %}
tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">{% block title %} Title {% endblock %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% block body %}{% endblock %}
        </div>
        <div class="modal-footer">
            {% block footer %}{% endblock %}
        </div>
      </div>
    </div>
  </div>