{% load static %}

<title> D R A | N E D </title>
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
<link rel="stylesheet" href="{% static 'drained/css/header.css' %}">

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container justify-content-center">

        <a href="/" class="navbar-brand d-none d-md-block">
            D R A | N E D
        </a>
        <button class="navbar-toggler collapsed"
        data-bs-toggle="collapse" data-bs-target="#collapseMenu"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="navbar-brand">
                <span class="toggler-left">D R A</span>
                <i class="toggler-bar"></i>
                <span class="toggler-right">N E D</span>
            </div>
        </button>

        <div class="collapse navbar-collapse justify-content-end"
             id="collapseMenu">

            <ul class="navbar-nav text-center">
                <ul class="navbar-nav">
                <li class="nav-item mx-1">
                    <a href="/gig" class="nav-link
                    {% if request.resolver_match.url_name == 'gig-list' %}active{% endif %}">
                    gigs
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a href="/venue" class="nav-link
                    {% if request.resolver_match.url_name == 'venue-list' %}active{% endif %}">
                    venues
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a href="/band" class="nav-link
                    {% if request.resolver_match.url_name == 'band-list' %}active{% endif %}">
                    bands
                    </a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="/about"> about </a>
                </li>

                {% if not user.is_authenticated %}
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="/admin/"> admin </a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>
