{% extends "base/base.html" %}
{% load static %}

{% block headerFiles %}
<!-- <script src="{% static 'drained/js/popover.js' %}"></script> -->
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class ="row">
        <div class="col-sm-3"> </div>
        <div class="col-sm-5">

                <!-- CONTENT -->
            <h3 style="padding-top:0.5rem; padding-bottom:0.5rem;"> about </h3>
            <p>
                <!-- {{about.about|safe}} -->
                {{about.about|safe}}
            </p>

            <hr>

            source code &middot; <a href = "{{about.source}}" target="_blank">{{about.source}}</a>

                <!-- CONTENT -->

        </div>
        <div class="col-sm-4"> </div>
    </div>
</div>
{% endblock %}
