<table cellpadding ="0" class="date">
    <tr>
        <th rowspan="2">
            <div class="date-day">
                <a href="/gig.date/{{gig.date.id}}">
                    {{gig.date|date:'D'}}&middot;{{gig.date|date:'d'}}
                </a>
            </div>
        </th>
        <th class="date-month"> {{gig.date|date:'M'}} </th>
    </tr>
    <tr>
        <th class="date-year"> {{gig.date|date:'y'}} </th>
    </tr>
    <tr>
        <th>
            <div class="date-time" >
                {{gig.doors|time:'g'}}&middot;{{gig.doors|time:'i'}}
            </div>
        </th>
        <th>
            <div class="date-ampm">
                {{gig.doors|time:'A'}}
            </div>
        </th>
    </tr>
</table>
