<a href ="/gig/{{gig.id}}">
    <p class="lineup">
        {% for band in gig.lineup.all %}
            {{band.name}}
            {% if not forloop.last %}
                <b>&middot;</b>
            {% endif %}
        {% endfor %}
    </p>
</a>
