{% if gigs.has_previous or gigs.has_next %}
    <p class="paginator">
        {% if gigs.has_previous %}
            <a style="padding-right:0.5rem;" id="prev"
            href="?page={{ gigs.previous_page_number }}">
                <
            </a>
        {% else %}
            <span class="disabled"><span> < </span></span>
        {% endif %}

        {% for i in gigs.paginator.page_range %}
            {% if gigs.number == i %}
                <span style="padding:0.5rem;" class="active">
                    <span id=page class="{{i}}">{{ i }}
                        <span class="sr-only">(current)</span>
                    </span>
                </span>
            {% else %}
                <span style="padding:0.5rem;">
                    <a href="?page={{ i }}">{{ i }}</a>
                </span>
            {% endif %}
        {% endfor %}

        {% if gigs.has_next %}
            <a style="padding-left:0.rem;" id="next"
                href="?page={{ gigs.next_page_number }}">
                >
            </a>
        {% else %}
            <span class="disabled"><span> > </span></span>
        {% endif %}
    </p>
{% else %}
    <p class="paginator">
        PAGINATOR_DEBUG
    </p>
{% endif %}
