{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block headerFiles %}
    <script src="{% static 'drained/js/popover.js' %}"></script>
    <link rel="stylesheet" href="{% static 'gigs/css/gig-list/style.css' %}">
{% endblock %}

{% block content %}

    <form role="form">
    <!-- csrf_token -->
        <!-- form|crispy  -->

        <table border="1">
            {% for field in form.visible_fields %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>
                {{ field.errors }}
                {{ field }}
                {{ field.help_text }}
                </td>
            </tr>
            {% endfor %}
        </table>


        <div class="form-group">
            <button class="btn btn-primary" type="submit">
            Filter
            </button>
        </div>
    </form>

    {% if has_filter %}
        <a href="{%  url 'gig-list' %}">Reset filters</a>
    {% endif %}

    <hr>

    {% for gig in gigs %}
        <div class="row {% if not gig.visible %}hidden{% endif %}">
            <div class="col-4">
                {% include "gigs/gig-list/datetime.html" %}
            </div>
            <div class="col-8">
                <div class="venue" >
                    @<a href ="/venue/{{gig.venue.id}}">{{gig.venue.name}}</a>
                </div>
                {% include "gigs/gig-list/lineup.html" %}
            </div>
        </div>

    {% if not forloop.last %}
      <hr style="width: 50%; margin-bottom:0.5rem">
    {% else %}
      <br>
    {% endif %}

  {% endfor %}

  {% include "gigs/gig-list/paginator.html" %}

{% endblock %}
