<table>
    <tr>
        <th style="width:70px;">
            doors
        </th>
        <td>
            {{gig.doors.hour}}&middot;{{gig.doors.min}} {{gig.doors.ampm}}
        </td>
    </tr>

    <tr>
        <th>show</th>
        <td>
            {{gig.start.hour}}&middot;{{gig.start.min}} {{gig.start.ampm}}
        </td>
    </tr>

    <tr>
        <th>
            <b>cover</b>
        </th>
        <td>
            {%if gig.price %}
                $CAD&nbsp;{{gig.price}}
                {%if gig.cover %}
                    &middot; {{gig.cover}}
                {% endif %}
            {% else %}
                {% if not cover %}
                    ? ? ?
                {% else %}
                {{cover}}
                {% endif %}
            {% endif %}
            {% if gig.tickets %}
            &middot; <a href = "{{gig.tickets}}" target="_blank">tickets</a>
            {% endif %}
        </td>
    </tr>

</table>
