{% load static %}
{% if gig.flyer %}
        <table cellpadding ="0" style="width:100%;" >
            <tr>
                <th rowspan="2" width="1rem;" style="padding-right:0.5rem;">
                    <a style="text-decoration:none" href="#" id="pop" data-toggle="popover">
                        <img id="pic" src="{%get_media_prefix%}{{gig.flyer}}" height="50rem">
                    </a>
                </th>
                <td>
                    <div style="text-align:left; font-size:1rem;">
                        {{gig.name}}
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <div style="text-align:left; font-size:1.5rem;">
                        @<a href ="/venue/{{gig.venue.id}}">{{gig.venue.name}}</a>
                        {% if gig.venue.byob %}
                            (BYOB)
                        {% endif %}
                    </div>
                </th>
            </tr>
        </table>
{% else %}
    <div style="font-size:1rem; font-weight:200;"> {{gig.name}} </div>
    <div style="line-height:1.5rem;">
        @<a href ="/venue/{{gig.venue.id}}">{{gig.venue.name}}</a>
        {% if gig.venue.byob %}
            (BYOB)
        {% endif %}
    </div>
    <!-- <br> -->
{% endif %}
