{% extends "base/base.html" %}
{% load static %}

{% block headerFiles %}
    <script src="{% static 'drained/js/popover.js' %}"></script>
    <link rel="stylesheet" href="{% static 'gigs/css/gig-page/style.css' %}">
{% endblock %}

{% block content %}

    {% include "gigs/gig-page/title.html" %}

    <div class="date">
        {{gig.date.weekday}} &middot;
        {{gig.date.month}} {{gig.date.day}} &middot;
        {{gig.date.year}}
    </div>

    <hr>

    {% include "gigs/gig-page/cover.html" %}

    <hr>

    <p class="lineup">
        {% for band in gig.lineup.all %}
            {% if band.visible %}
                <a href ="/band/{{band.id}}"> {{band.name}}</a> &middot; {{band.city}}<br>
            {% else %}
                {{band.name}}</a> &middot; {{band.city}}<br>
            {% endif %}
        {% endfor %}
    </p>

    <hr>

    <p>
        {{gig.about|safe}}
    </p>

{% endblock %}
